.inputLabel{
    font-family: "Roboto";
}
.inputBox{
    width: 295px;
height: 24px;

border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputBox:focus{
    border: none;
      width: 295px;
height: 24px;
    border-bottom: 1px solid red;
}
.errorStyle{
    font-family: 'Roboto';
    font-size: 15px;
}
.label{
    font-family: 'Roboto';
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
}
.divRadio{
     display: flex;
    align-items: center;
  
     
     
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
 
}

input[type="radio"]:checked {
  border-color: red;
  background-color: white;
   display: flex;
  
  justify-content: center;
  align-items: center;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 10px;
   display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;

  border-radius: 50%;
  background-color: red;
}

